#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #ccffff, #f8d4f8);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  height: auto;
}

header h1 {
  margin: 0;
  font-size: 20px;
}

header h3 {
  margin: 0;
  font-size: 15px;
}