.gameCardWrapper {
  width: calc(20% - 1.5rem);
  height: 25vh;
}

.card {
  border-radius: 12px;
  border: 2px solid black;
  margin: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: filter 0.2s;
  height: 100%;
}

.gameCardWrapper:hover{
  filter: drop-shadow(0px 0px 1rem rgb(241, 230, 63));
}

.cardImageContainer{ 
  width: 100%;
  flex: 1;
  position: relative;
}

.cardImage {
  position: absolute;
  object-fit: cover;
  width: auto;
  height: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cardDescContainer{
  background-color: rgb(13, 7, 17);
  text-shadow: 
  -1px -1px 0 #000, /* Top-left */
  1px -1px 0  #000, /* Top-right */
  -1px 1px 0  #000, /* Bottom-left */
  1px 1px 0   #000;
  min-height: 60px;
  max-height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.cardName {
  font-size:calc(9px + 0.390625vw);
  margin: 0;
  width: 100%;
}

.cardDesc, .cardDescMainCharacter {
  font-size:calc(7px + 0.390625vw);
  margin: 2px;
}

.cardDescMainCharacter{
  color: #fafafa00;
  -webkit-background-clip:text;
  background-clip:text;
  text-shadow: none;
}

@media (max-width: 1000px) {
  .gameCardWrapper {
    width: calc(25% - 1.5rem);
  }
  .cardName {
    font-size:calc(8px + 0.390625vw);
  }
  .cardDesc, .cardDescMainCharacter {
    font-size:calc(6px + 0.390625vw);
  }
}

@media (max-width: 700px) {
  .gameCardWrapper {
    width: calc(33% - 1.5rem);
  }
}

@media (max-width: 450px) {
  .gameCardWrapper {
    width: calc(50% - 1.5rem);
  }
}