.gameOver {
  display: flex;
  flex-direction: column;
  justify-self: center;
  flex: 1;
}

.scrollingCardsWrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: auto;
  flex-wrap: wrap;
}

.scrollingCardGroup {
  width: 20%;
}

.endCardWrapper {
  width: 95%;
  min-height: 25vh;
  margin: 0.5rem;
}

.dimmed {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}


@media (max-width: 1250px) {
  .scrollingCardsWrapper {
    display: none;
  }
}