.score {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  min-height: 15vh;
}

.generalScoreWrapper {
  margin: 0.5rem;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generalScore {
  margin: 0px;
  display: flex;
  text-align: center;
}

.groupScoreWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 0 1rem;
  border-radius: 12px;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size:calc(7px + 0.390625vw);
}

.groupScore {
  min-width: 20%;
}

.groupScoreMainCharacter {
  color: #fafafa00;
  -webkit-background-clip:text;
  background-clip:text;
  text-shadow: none;
}

@media (max-width: 800px) {
  .score {
    font-size: 8px;
  }
}