.score {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.generalScoreWrapper {
  margin: 1rem;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.generalScore {
  margin: 0px;
  display: flex;
  text-align: center;
}

.groupScoreWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
  font-size: small;
  border-radius: 12px;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.groupScore {
  min-width: 20%;
}

.groupScoreMainCharacter {
  color: #fafafa00;
  -webkit-background-clip:text;
  background-clip:text;
  text-shadow: none;
}