.groupScoreWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
  font-size: small;
  border-radius: 12px;
}

.groupScore {
  min-width: 20%;
}

.groupScoreMainCharacter {
  color: #fafafa00;
  -webkit-background-clip:text;
  background-clip:text;
  text-shadow: none;
}